body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    direction: rtl;
    text-align: right;
}

/* nav {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    padding: 5px 0;
}

nav a:hover, nav a.active {
    text-decoration: underline;
    border-bottom: 2px solid #007bff;
} */

button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

.new-product, .new-supplier, .box-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.new-product label, .new-supplier label, .new-product input, .new-supplier input,
.new-product select, .new-supplier select, .box-item h1, .box-item div {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.new-product input, .new-supplier input,
.new-product select, .new-supplier select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.show-supplier, .show-supplier-old {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.show-supplier-old {
    color: #f4c45c;
    border-bottom: 2px solid #f4c45c;
}

.supplier-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.show-product, .show-old-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-right: 5px solid #007bff;
}
.show-old-order {
    border-right: 5px solid #f4c45c;
}
.show-nameProduct, .show-quantity {
    margin: 0;
    padding: 0;
}

.show-nameProduct {
    flex-grow: 1;
}

.show-quantity {
    min-width: 50px;
    text-align: right;
}

nav {
    background-color: transparent;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #666; 
    padding: 5px 10px;
    transition: border-bottom 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav a:hover, nav a.active {
    color: #444; 
    border-bottom: 2px solid #444; 
}

.nav {
  background-color: rgb(125, 211, 125);  
}








