
.container-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.form-entry {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-entry {
    margin: 5px 0px;
    font-size: 18px;
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    width: 80%;
}

.image-no-entry {
    max-width: 300px; 
    max-height: 300px;
    margin-top: 20px;
}
.connect {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    color: #fff;
    background-color: #007bff;
    width: 80px;
}