/* עיצוב העמוד */
body {
    font-family: 'Arial', sans-serif;
    background-color: #EEEEEE;
    margin: 0;
    padding: 20px;
    direction: rtl; /* מיישר את כל התוכן לימין */
}

/* עיצוב קונטיינר הספק */
.supplier-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.supplier-title {
    color: #333;
    margin-bottom: 15px;
}

/* עיצוב קונטיינר ההזמנה */
.order-container {
    background-color: #F8F8F8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.title-order {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title-order h3 {
    color: #555;
    font-size: 16px;
}

/* עיצוב פריט ההזמנה */
.order-item {
    display: flex;
    justify-content: flex-start; /* משנה כיוון הסידור של האלמנטים לסידור מימין לשמאל */
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.order-details {
    display: flex;
    flex-direction: row; /* שינוי כיוון הפריטים להיות אחד לצד השני */
    justify-content: flex-start; /* מיישר את הפריטים לצד ימין */
    gap: 15px; /* מוסיף רווח בין האלמנטים */
    flex-grow: 1;
}

.order-details p {
    margin: 0; /* מוריד את המרווחים הסטנדרטיים של פסקאות */
    color: #666;
    font-size: 14px;
}

.show-nameProduct {
    font-weight: bold;
    color: #333;
}

.received-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: auto; /* ממקם את הכפתור בצד הימני של הקונטיינר, בהתאם לכיוון הקריאה */
}

.received-button:hover {
    background-color: #45A049;
}

.received-button:active {
    transform: scale(0.98);
}
