body {
    direction: rtl;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1,
h4 {
    color: #333;
    font-size: 18px;
    display: inline;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-top: 10px;
}

.box-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-item {
    margin-bottom: 10px;
}

.box-product-from-the-order {
    display: grid;
    grid-template-areas: "start note controls";
    grid-template-columns: 1fr 1fr 100px;
    align-items: center;
    gap: 10px;
}

.start-order {
    grid-area: start;

    h4:first-of-type {
        margin-left: 10px;
    }

    span {
        margin-left: 10px;
    }
}

.center-order {
    grid-area: note;
}

.quantity-controls.end-order {
    grid-area: controls;
}

.input-note {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px 10px;
}

.quantity-controls {
    align-items: center;
    margin-top: 0;
}

.quantity-controls span {
    margin: 0 10px;
}

.show-note {
    background-color: rgb(202, 10, 10);
    color: rgb(255, 255, 255);
    border-radius: 1px;
    padding: 2px;
    margin: 0px 10px;
}

.send-note,
.delete-note {
    margin-left: 5px;
}

.delete-note {
    background-color: rgb(228, 48, 48);
    padding: 5px 10px;
}

.delete-note:hover {
    background-color: rgb(196, 38, 38);
}

.send-an-invitation {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    z-index: 1000; 
  }