.invitation-container {
  margin-top: 5px;
  direction: rtl;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

.title span {
  margin-right: 10px;
}

.selected-style {
  background-color: #e8f5e9;
  border-radius: 10px;
}

.product-details {
  padding: 10px;
  display: grid;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-template-areas: 
  "up"
  "center";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto;
  gap: 5px;
  .note {
    border: 1px solid rgb(202, 10, 10);
    color: rgb(0, 0, 0);
    border-radius: 1px;
    padding: 2px;
  }
}
.product-details.show-div-note {
  grid-template-areas: 
    "up"
    "center"
    "end";
  grid-template-rows: repeat(3, 1fr); /* שינוי כאשר יש note */
}

.up {
  grid-area: up;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  grid-area: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end {
  grid-area: end;
  width: 100%;
}
.remove-note {
  display: none ;

}
.center>*,
.up > * {
  margin: 0 auto;
}

.up input,
.up input:focus,
.center input,
.center input:focus {
  width: 40px;
  border: none;
  direction: none;
  background: none;
}

.send-order {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px 20px;
  background-color: #007BFF;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}