
.new-item label.price-label {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  
  .new-item label.price-label .price-input-container {
    display: flex;
    align-items: center; 
    flex-grow: 1; 
    margin-top: 5px; 
  }
  
  .new-item label.price-label .price-input-container select,
  .new-item label.price-label .price-input-container input {
    flex: 1; /* מאפשרים לשניהם לתפוס את כל המקום הזמין באופן שווה */
    margin-right: 10px; /* מרווח בין ה-select ל-input */
  }
  
  .new-item label.price-label .price-input-container button {
    margin-left: 10px; /* מרווח משמאל לכפתור */
  }
  
  /* הגדרות נוספות לעיצוב ה-select, ה-input וה-button כדי להתאים לעיצוב הכללי */
  .new-item select, .new-item input, .new-item button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 0; /* מורידים את המרווח מלמעלה שהוגדר כללית ל-inputs ו-selects */
  }
  